WebContent/wsdl/asistenciaws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AsistenciaWS" targetNamespace="http://ws.das.ubp.edu.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.das.ubp.edu.ar/" xmlns="http://ws.das.ubp.edu.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="asistenciaBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="idServicio" type="xs:string"/>
      <xs:element name="idSolicitud" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chatBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string"/>
      <xs:element name="idAsistencia" type="xs:int"/>
      <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleAsistenciaBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="dato" type="xs:string"/>
      <xs:element name="idAsistencia" type="xs:int"/>
      <xs:element minOccurs="0" name="tipoDato" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="insertarAsistencia" type="insertarAsistencia"/>
  <xs:complexType name="insertarAsistencia">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asistencia" type="asistenciaBean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="insertarAsistenciaResponse" type="insertarAsistenciaResponse"/>
  <xs:complexType name="insertarAsistenciaResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="insertarChatAsistencia" type="insertarChatAsistencia"/>
  <xs:complexType name="insertarChatAsistencia">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="chat" type="chatBean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="insertarChatAsistenciaResponse" type="insertarChatAsistenciaResponse"/>
  <xs:complexType name="insertarChatAsistenciaResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="midificarEstadoAsistencia" type="midificarEstadoAsistencia"/>
  <xs:complexType name="midificarEstadoAsistencia">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="asistencia" type="asistenciaBean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="midificarEstadoAsistenciaResponse" type="midificarEstadoAsistenciaResponse"/>
  <xs:complexType name="midificarEstadoAsistenciaResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="insertarDetalleAsistencia" type="insertarDetalleAsistencia"/>
  <xs:complexType name="insertarDetalleAsistencia">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="detalleAsistencia" type="detalleAsistenciaBean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="insertarDetalleAsistenciaResponse" type="insertarDetalleAsistenciaResponse"/>
  <xs:complexType name="insertarDetalleAsistenciaResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="midificarEstadoAsistenciaResponse">
    <wsdl:part name="parameters" element="tns:midificarEstadoAsistenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarChatAsistencia">
    <wsdl:part name="parameters" element="tns:insertarChatAsistencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarDetalleAsistenciaResponse">
    <wsdl:part name="parameters" element="tns:insertarDetalleAsistenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarAsistenciaResponse">
    <wsdl:part name="parameters" element="tns:insertarAsistenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarChatAsistenciaResponse">
    <wsdl:part name="parameters" element="tns:insertarChatAsistenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarAsistencia">
    <wsdl:part name="parameters" element="tns:insertarAsistencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="midificarEstadoAsistencia">
    <wsdl:part name="parameters" element="tns:midificarEstadoAsistencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarDetalleAsistencia">
    <wsdl:part name="parameters" element="tns:insertarDetalleAsistencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AsistenciaWSPortType">
    <wsdl:operation name="insertarAsistencia">
      <wsdl:input name="insertarAsistencia" message="tns:insertarAsistencia">
    </wsdl:input>
      <wsdl:output name="insertarAsistenciaResponse" message="tns:insertarAsistenciaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarChatAsistencia">
      <wsdl:input name="insertarChatAsistencia" message="tns:insertarChatAsistencia">
    </wsdl:input>
      <wsdl:output name="insertarChatAsistenciaResponse" message="tns:insertarChatAsistenciaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="midificarEstadoAsistencia">
      <wsdl:input name="midificarEstadoAsistencia" message="tns:midificarEstadoAsistencia">
    </wsdl:input>
      <wsdl:output name="midificarEstadoAsistenciaResponse" message="tns:midificarEstadoAsistenciaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarDetalleAsistencia">
      <wsdl:input name="insertarDetalleAsistencia" message="tns:insertarDetalleAsistencia">
    </wsdl:input>
      <wsdl:output name="insertarDetalleAsistenciaResponse" message="tns:insertarDetalleAsistenciaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsistenciaWSSoapBinding" type="tns:AsistenciaWSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insertarAsistencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertarAsistencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertarAsistenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarChatAsistencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertarChatAsistencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertarChatAsistenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="midificarEstadoAsistencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="midificarEstadoAsistencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="midificarEstadoAsistenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarDetalleAsistencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertarDetalleAsistencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertarDetalleAsistenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsistenciaWS">
    <wsdl:port name="AsistenciaWSPort" binding="tns:AsistenciaWSSoapBinding">
      <soap:address location="http://localhost:8080/DefensaCivilCxf/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
