WebContent/wsdl/asistenciaws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AsistenciaWSService" targetNamespace="http://ws.das.ubp.edu.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.das.ubp.edu.ar/" version="1.0" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="cerrarAsistencia" type="tns:cerrarAsistencia"/>

  <xs:element name="cerrarAsistenciaResponse" type="tns:cerrarAsistenciaResponse"/>

  <xs:element name="insertarAsistencia" type="tns:insertarAsistencia"/>

  <xs:element name="insertarAsistenciaResponse" type="tns:insertarAsistenciaResponse"/>

  <xs:element name="insertarDetalleAsistencia" type="tns:insertarDetalleAsistencia"/>

  <xs:element name="insertarDetalleAsistenciaResponse" type="tns:insertarDetalleAsistenciaResponse"/>

  <xs:complexType name="insertarAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:asistenciaBean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="asistenciaBean">
    <xs:sequence>
      <xs:element name="cuil" type="xs:long"/>
      <xs:element minOccurs="0" name="estado" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="idServicio" type="xs:string"/>
      <xs:element name="idSolicitud" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertarAsistenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="response">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="cerrarAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:asistenciaBean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cerrarAsistenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertarDetalleAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:detalleAsistenciaBean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="detalleAsistenciaBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="dato" type="xs:string"/>
      <xs:element name="idAsistencia" type="xs:int"/>
      <xs:element minOccurs="0" name="tipoDato" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertarDetalleAsistenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="insertarDetalleAsistenciaResponse">
    <wsdl:part name="parameters" element="tns:insertarDetalleAsistenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarAsistenciaResponse">
    <wsdl:part name="parameters" element="tns:insertarAsistenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarAsistencia">
    <wsdl:part name="parameters" element="tns:insertarAsistencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cerrarAsistencia">
    <wsdl:part name="parameters" element="tns:cerrarAsistencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cerrarAsistenciaResponse">
    <wsdl:part name="parameters" element="tns:cerrarAsistenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarDetalleAsistencia">
    <wsdl:part name="parameters" element="tns:insertarDetalleAsistencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AsistenciaWS">
    <wsdl:operation name="insertarAsistencia">
      <wsdl:input name="insertarAsistencia" message="tns:insertarAsistencia">
    </wsdl:input>
      <wsdl:output name="insertarAsistenciaResponse" message="tns:insertarAsistenciaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cerrarAsistencia">
      <wsdl:input name="cerrarAsistencia" message="tns:cerrarAsistencia">
    </wsdl:input>
      <wsdl:output name="cerrarAsistenciaResponse" message="tns:cerrarAsistenciaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarDetalleAsistencia">
      <wsdl:input name="insertarDetalleAsistencia" message="tns:insertarDetalleAsistencia">
    </wsdl:input>
      <wsdl:output name="insertarDetalleAsistenciaResponse" message="tns:insertarDetalleAsistenciaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsistenciaWSServiceSoapBinding" type="tns:AsistenciaWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insertarAsistencia">
      <soap:operation soapAction="urn:InsertarAsistencia" style="document"/>
      <wsdl:input name="insertarAsistencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertarAsistenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cerrarAsistencia">
      <soap:operation soapAction="urn:CerrarAsistencia" style="document"/>
      <wsdl:input name="cerrarAsistencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cerrarAsistenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarDetalleAsistencia">
      <soap:operation soapAction="urn:InsertarDetalleAsistencia" style="document"/>
      <wsdl:input name="insertarDetalleAsistencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertarDetalleAsistenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsistenciaWSService">
    <wsdl:port name="AsistenciaWSPort" binding="tns:AsistenciaWSServiceSoapBinding">
      <soap:address location="http://localhost:8080/DefensaCivilCxf/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
